@using NinthAgeCmsToArmyBook.ArmyBooks

<div class="accordion-item">
    <h2 class="accordion-header" id="@($"panels-heading-{Unit.GetHashCode()}")">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@($"#panels-{Unit.GetHashCode()}")" aria-expanded="false" aria-controls="@($"panels-{Unit.GetHashCode()}")">
            @Unit.Name
        </button>
    </h2>
    <div id="@($"panels-{Unit.GetHashCode()}")" aria-labelledby="@($"panels-heading-{Unit.GetHashCode()}")" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="row mb-2">
                <div class="input-group col">
                    <span class="input-group-text font-monospace">Nam</span>
                    <input type="text" @oninput="e => Unit.Name = e.Value.ToString()" value="@Unit.Name" class="form-control" placeholder="Unit name" aria-label="Unit name">
                </div>
                <MinMaxEditBox Value="Unit.UnitSize" EditLabel="Mod"/>
                <MinMaxEditBox Value="Unit.ModelsPerArmy" EditLabel="M/A"/>
                <MinMaxEditBox Value="Unit.UnitsPerArmy" EditLabel="U/A"/>
                <div class="col"></div>
            </div>

            @foreach (var globalProfile in Unit.GlobalProfile)
            {
                <div class="row mb-2">
                    <ProfileEditBox EditLabel="Adv" Value="@globalProfile.Advance" OnEditState="newVal => globalProfile.Advance = newVal"/>
                    <ProfileEditBox EditLabel="Mar" Value="@globalProfile.March" OnEditState="newVal => globalProfile.March = newVal"/>
                    <ProfileEditBox EditLabel="Dis" Value="@globalProfile.Discipline" OnEditState="newVal => globalProfile.Discipline = newVal"/>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            }
            
            @foreach (var defensiveProfile in Unit.DefensiveProfile)
            {
                <div class="row mb-2">
                    <ProfileEditBox EditLabel="HP." Value="@defensiveProfile.HealthPoints" OnEditState="newVal => defensiveProfile.HealthPoints = newVal"/>
                    <ProfileEditBox EditLabel="Def" Value="@defensiveProfile.Defense" OnEditState="newVal => defensiveProfile.Defense = newVal"/>
                    <ProfileEditBox EditLabel="Res" Value="@defensiveProfile.Resilience" OnEditState="newVal => defensiveProfile.Resilience = newVal"/>
                    <ProfileEditBox EditLabel="Arm" Value="@defensiveProfile.Armor" OnEditState="newVal => defensiveProfile.Armor = newVal"/>
                    <div class="col"></div>
                </div>
            }
            @foreach (var offensiveProfile in Unit.OffensiveProfile)
            {
                <div class="row mb-2">
                    <ProfileEditBox EditLabel="Att" Value="@offensiveProfile.Attacks" OnEditState="newVal => offensiveProfile.Attacks = newVal"/>
                    <ProfileEditBox EditLabel="Off" Value="@offensiveProfile.Offense" OnEditState="newVal => offensiveProfile.Offense = newVal"/>
                    <ProfileEditBox EditLabel="Str" Value="@offensiveProfile.Strength" OnEditState="newVal => offensiveProfile.Strength = newVal"/>
                    <ProfileEditBox EditLabel="AP." Value="@offensiveProfile.ArmorPiercing" OnEditState="newVal => offensiveProfile.ArmorPiercing = newVal"/>
                    <ProfileEditBox EditLabel="Agi" Value="@offensiveProfile.Agility" OnEditState="newVal => offensiveProfile.Agility = newVal"/>
                </div>
            }
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Unit Unit { get; set; }

}